﻿body {
}

#menu ul {
    list-style: none;
    height: 38px;
}

#menu ul li {
    background-color: #258127;
    border:solid 1px white;
    width:120px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:left;
    position:relative;
    border-radius:10px;
}


    #menu ul li a:hover {
        background-color: #3de141;
        color: white;
        border-radius: 10px;
    }

.menu_link {
    text-decoration:none;
    color:white;
    display:block;
}
