﻿body {
    background-color: rgba(128, 128, 128, 0.35);
    margin-bottom: 0px;
}

#mainContainer {
    width: 1318px;
    height: 1018px;
    background-color: #ffffff;
}

#left {
    align-items: center;
    margin: 0px auto;
    width: 568px;
    float: left;
    background-color: #ffffff;
}

#right {
    width: 651px;
    background-color: #ffffff;
    float: right;
    margin-left: 87px;
    height: 842px;
    margin-right: 0px;
    margin-top: 0px;
}

ul li {
    list-style-type: none;
}

ul {
    align-self: center;
}

.buttonClass {
    width: 80%;
    margin: 5px 5px 5px 0px;
    padding: 5px;
}

.textboxClass {
    width: 80%;
}

.labelClass {
    text-align: center;
    width: 80%;
}