﻿body {
}

#main_container {
    float: left;
    background-color: darkgreen;
    width: 100%;
    border: 2px solid black;
}

.FieldButton {
    height: 210px;
    width: 130px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#main_form {
    height: 300px;
}

div {
    float:inherit;
}

ul li {
    list-style-type: none;
    text-align: center;
}

header {
    text-align: center;
    font-size: xx-large;
    background-color: forestgreen;
    border: 2px solid black;
}