﻿body {
}

h1 {
    text-align: center;
}

.newStyle1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    border-style: solid;
    border-width: medium;
}

#form1 {
    width: 500px;
    float: left;
}

#main {
    width: 500px;
    float: left;
    overflow: hidden;
    background-color: #557c39;
    border: 3px solid black;
    border-radius: 10px;
}

#first {
    width: 150px;
    float: left;
}
