﻿body {
}

#main_container {
    width: 600px;
}

#left_container {
    align-items: center;
    float: left;
}

#right_container {
    align-content: center;
    float: right;
}

#main_form {
    height: 600px;
}

.ButtonClass {
    padding:5px;
    margin:5px;
}

ul li{
    align-self: center;
    list-style-type: none;
}